body {
    margin: 0;
}
h1, h2, h3, h4, h6, p, span {
    margin: 0;
    color: #666;
}
.container {
    max-width: 1920px;
    width: 100%;
}
/* header - padrão*/
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
/* navbar - padrão */
nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #666;
    border: 1px solid transparent;
}

nav:after {
    clear: both;
    content: "";
    display: block;
}
.nav-container /*Padrão*/{
    max-width: 1200; /*Ajudar na montagem do site em 1200px*/
    position: relative;  /*Para centralizar */
    margin-right: auto;
    margin-left: auto;

}
#logo {
    position: fixed;
    padding: 10px;
    left: 15px;
    width: 100px;
    height: 100px;
}
.nav-container ul {
    position: fixed; /* Mandou para o canto que eu queria*/
    right: 20px;  /* Mandou para o canto que eu queria*/
    height: 100px;
    line-height: 100px;/* Para centralizar nos 100px do height */
    margin: 0;
}
.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;/* Para descolar um do outro*/
}

.nav-container li a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}

.nav-container a:hover {
    color: #16bbd1;
    transition: .5s;
}

/* Banner */
#main-banner {
    background: url(imagem/banner1.jpg) no-repeat;
    background-size: cover; /*Para ele preencher o máximo da tela que ele conseguir*/
    background-position: 0 55%;/*Para melhor preenchimento da foto no website*/
    position: relative; /*Para ele não pegar essa categoria de herança de outro lugar*/
    margin-top: 100px; /*Para poder desviar da barra fixa do nav*/
}

#information {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em; /*Espaço para o banner aparecer*/
    padding-bottom: 15em; /*Espaço para o banner aparecer*/
    text-align: center;
}

#information h2{
    color: #fff;
    font-size: 40px;
}

#information p {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}




